.Game {
    font-weight: bold;
    color: #333;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Game p {
    margin: 0px;
    width: 200px;
}

.Game .LicenceKey {
    width: auto;
    background-color: cyan;
    color: black;
    display: inline-block;
}

.Image {
    width: 200px;
    height: 270px;
}

.RuPrice::after {
    content: " ₽";
}

.BuyBtn {
    font-weight: bold;
    text-decoration: none;
    border: none;
    background-color: blue;
    color: #333;
}

.BuyBtn:focus {
    outline: none;
 }

.BuyBtn:hover {
    cursor: pointer;
    background-color: #333;
    color: blue;
}

.GrayBtn {
    display: inline-block;
    height: 2em;
    width: 6em;
    padding:10px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #f4f4f4;
    color: #333;
}

.GrayBtn:focus {
    outline: none;
}

.GrayBtn:hover {
    cursor: pointer;
    background-color: #333;
    color: #f4f4f4;
}

.Message {
    color: red;
}

.NavigationBar {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.NavigationBar li.NotHide { 
    display: inline-block; 
    margin-right: 10px;
}

.NavigationBar input {
    display: inline-block;
    width: 6em;
    padding:10px;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #f4f4f4;
    color: #333;
}

.NavigationBar input:focus {
    outline: none;
}

.NavigationBar input:hover {
    cursor: pointer;
    background-color: #333;
    color: #f4f4f4;
}

.Hide {
    display: none;
}
